@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@300&display=swap');

*{
    font-family: 'Victor Mono', monospace;
}

header {
    width: 100%;
    height: 120px;
    background-color: #0e0e0e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    

}

header img {
    width: 500px;
    margin-left: 20px;
}

header .opcoes {
    margin-right: 300px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: all ease-in-out 0.8s;
}

header .opcoes span:hover {
    text-decoration: underline 2px solid white;
}

main {
    text-align: center;
    width: 100%;
    height: 500px;
}

main .inputEntrada {
    width: 250px;
    margin: 0 auto;
    border-bottom: 2px solid red;
    outline: none;

}

main h1 {
    margin-top: 45px;
    text-align: center;
    margin-bottom: 80px;
}

main button {
    margin-top: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer .redesSociais{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
footer .redesSociais img{
    width: 30px;
}

/* catalogo */

h2 {
    text-align: center;
    color: #333;
}

.catalogo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.carro {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.carro img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.carro h2 {
    margin-bottom: 10px;
}

.carro p {
    color: #666;
}

/* AlugarBtn */

a{
    text-decoration: none;
    color: #ddd;

}

.AlugarBtn{
    width: 200px;
    height: 150px;
    background-color: #e10008;
    border-radius: 15px;
    padding: 10px;
    margin-top: 5px;
    font-weight: 600;
}

.AlugarBtn:hover{
    background-color: #dc464c;
}



